@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;500;600;700;800;900&display=swap');

*{

    box-sizing: border-box;
}

body{
    font-family: Work Sans;
}

/* .container{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
} */

/* nav-start */

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
    
}

.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
}

.logo-container img{
    width: 86.041px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    
}

.logo-container p{
    font-size: 45px;
    font-weight: 700;
    font-family: Work Sans;

}

.logo-text{
    color: #ff42a5;
    
}

.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-container a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.login-btn{
    background-color: #e7e6e9;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* nav-end */

/* banner section start */
.banner-container{
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    
}


.banner-text{
    width: 50%;
    margin-top: 80px;
    /* background-image: url(./assets/images/Group\ 14.png);
    width: 901px;
    height: 700px; */
}
    

.banner-img{
    width: 50%;
}

.banner-img img{
    width: 100%;
    height: auto;
}

.banner-text h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.br{
    font-weight: 900;
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #CA4FCC 41.15%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.banner-text p{
    margin: auto;
    font-size: 20px;
    font-weight: 500;
}

.banner-btn{
    margin-top: 50px;
    
}

.banner-btn button{
    border-radius: 48px;
    padding: 21px 40px;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
}

.btn1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
}

.btn2{
    border-radius: 48px;
    background: #4EC5F7;    
}

/* banner section end */

/* we are gamer section start */

.section-width{
    min-height: 500px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container {
    max-width: 1400px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
}

.sec-gamer-img{
    width: 65%;
}

.sec-gamer-info{
    width: 35%;
}


.sec-gamer-info h1{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-gamer-info p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.down-info{
    text-align: end;
}
.down-info button{
    padding: 21px 40px;
    text-align: right;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-family: Work Sans;
    font-size: 15px;
}

.down-info p{
    font-size: 20px;
}

.down-info span{
    font-size: 30px;
    color: #534C64;
    margin-bottom: 10px;
}

.sec-gamer-info{
    align-items: center;
}

/* we are gamer section end */

/* Online Games Funny Videos start */


.grid-container{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;
    margin-top: 20px;
    background: #FFF;
    grid-template-columns: repeat(4, 1fr);
}
.game-1st {
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    
}

.game-2nd{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.head-last{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

 .single-product img{
    width: 90%;
    display: block;
    margin: 0 auto;
 }
 .single-product p{
    padding-top: 10px;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.single-product > .opacity:hover{
    background-color:linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; 
    opacity:0.2;
    border-radius:16px;
}


/* Online Games Funny Videos start end */

/* Careers-section start */
.careers-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    min-height: 500px;
    margin-top: 100px;
    display: flex;
}

.careers-container{
    max-width: 1400px;
    margin: 0 auto;
    min-width: 200px;
    display: flex;
    
    

}

.careers-text{
    width: 100%;
    color: #FFF;
}
.careers-text h1{
    font-size: 48px;
}

.careers-image{
    width: 50%;
    align-items: center;
}

.careers-two{
    display: flex;
}

.careers-second{
    width: 50%;
    text-align: left;
    color: #FFF;
}

.careers-third{
    width: 50%;
    text-align: right;
    color: #FFF;
}

.careers-btn button{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #ff42a5;
}

.careers-btn{
    padding-top: 20px;
}

.three-dev{
    margin-top: 150px;
}

.careers-second, .careers-third{
    font-size: 18px;
    line-height: 1.6;
}


/* Careers-section end */

/* review section start */

.review-container{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-review{

    max-width: 1400px;
    margin: 0 auto;
    min-width: 200px;
}

.btn-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
  }

.btn-div{
    display: flex;
    align-items: center;
    border-radius: 300px;
    border-radius: 300px;
    margin: 0 20px 30px 10px;
}
  
.btn-div img{
    width: 60px;

}
  
  .btn-div-button{
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #0B0223;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

 /* review section end */

 /* Footer section start here */

  .footer{
    background-color: #0B0223;
    color: white;
  }

  .footer-container{
    padding: 50px;
  }

  .footer-logo, .footer-services, .footer-services div, .footer-icons, .footer-icons div, .footer-term, .footer-term div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-services, .footer-icons, .footer-term{
    width: 80%;
    gap: 20px;
    margin: 0 auto 30px auto;
  }

  #btn-special{
    border: 1px solid #ff42a5;
    
  }

  #btn-special2{
    color: #ff42a5;
  }

  .footer-services div, .footer-icons div, .footer-term div{
    gap: 20px;
  }

  .footer-logo{
    margin-bottom: 20px;
  }
  .text-final{
    font-size: 48px;
    font-weight: 700;
    font-family: Work Sans;
  }
  .spt-alph{
    color: #ff42a5;
  }

  /* Footer section end */